<config>
	<logfile>/tmp/modemserver.log</logfile>

	<!-- The port that the HTTP server listens on -->
	<http-port>4321</http-port>

	<modem name="21121703">
		<server-address>192.168.239.89</server-address>
		<!-- no pincode
   		  <pincode>2975</pincode>
		-->
		<port>4001</port>
		<sendto>http://tryg.developmentserver.net/modemserver.php</sendto>
	</modem>
	
	<!--
	<modem name="21121704">
		<server-address>192.168.239.89</server-address>
   		  <pincode>2975</pincode>
		<port>4002</port>
		<sendto>http://www.itu.dk/~cth/modemserver.php</sendto>
	</modem>
	-->

</config>

