<config>
	<logfile>/var/log/modemserver.log</logfile>

	<!-- The port that the HTTP server listens on -->
	<http-port>4321</http-port>

	<modem name="12345678">
		<server-address>127.0.0.1</server-address>
		<!-- no pincode
   		  <pincode>2975</pincode>
		-->
		<port>4001</port>
		<sendto>http://localhost/sms.php</sendto>
	</modem>

</config>

